:root {
    --burgandy-color: rgb(128, 0, 32);
}

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*
 * Main section
 */
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;

    border: 1px solid red
}

.main-section {
    display: grid;
    place-items: center;
    width: 45%;
    height: 100%;

    border: 1px solid rgb(223, 130, 130)
}

.information {
    width: 400px;
    height: 400px;
    
    border: 1px solid green;
}

.main-section-links {
    width: 400px;
    height: 400px;
    
    border: 1px solid green;
}

.info-links {
    width: 400px;
    height: 400px;
    
    border: 1px solid green;
}

/*
 * Secondary section
 */
.secondary-section {
    width: 45%;
    height: 100%;

    border: 1px solid rgb(232, 137, 137)
}